
<div class="row" style="justify-content:center;align-items:center">
    <div class="col-md-8">
        <div class="card" style="justify-content:center;margin-top:auto;background:linear-gradient(360deg, rgb(2, 21, 32) 0%, #020b1b 70%)">

            <div class="card-body">

                <div class="col justify-content-lg-between">
                    <div class="row" style="justify-content: center;">
                        <img src="images/pulisher-1.jpg" style=" height: 100px;width: 100px;border-radius: 50px;" />
                    </div>
                    <div class="row" style="justify-content: center;">
                        <div>
                            <h1 class="title2">
                                Hello, I'm <a href="https://sefatanam.github.io/me/">Sefat Anam.</a>
                            </h1>
                        </div>
                    </div>
                    <div class="row" style="justify-content:center;">
                        <div>
                            <h1 class="title2">
                                I'm a full-stack web developer (.Net)
                            </h1>
                        </div>
                    </div>
                    <div class="row" style="justify-content:center">
                        <p style="color:aliceblue">
                            Email :
                            <a href="mailto:sefatanam@outlook.com"> sefatanam@outlook.com</a> | Technology Used : <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor WebAssembly</a>
                        </p>

                    </div>
                    <hr style="background-color: aliceblue" />
                    <div class="row" style="justify-content:center">
                        <p style="color:aliceblue">
                            <a href="https://github.com/sefatanam/covidApp-blazor-bd" style="color:aliceblue">Project on Github | Open Source</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
