@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <br />
        @Body
        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </div>
    <footer>
        <div class="row d-flex" style="justify-content:center">
            <h3 style="color:aliceblue;font-family:'Segoe UI'"> STAY HOME , SAVE LIVES</h3>
        </div>
    </footer>
</div>

